.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #145796;
    padding: 10px;
    border-bottom: 2px solid;
    color: #fff;
}

.mainInfo {
    border-bottom: 1px solid;
    padding: 8px 24px;
    color: #545454;
    background-color: rgb(245, 245, 245);
}

.menuContainer {
    display: flex;
    gap: 10px;
    margin: 30px;
}

.menuBtn {
    border: 1px solid;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: content-box;
}