.label {
    display: flex;
    width: 90%;
    margin: 0 5%;
    padding: 0 50px 30px;
    gap: 10px;
    align-items: center;
    justify-content: space-between
}

.label input {
    padding: 8px;
    text-align: right;
    width: 120px;
}

.btn {
    text-align: center;
}

.btn button {
    width: 90%;
    border: 1px solid #171717;
    border-radius: 5px;
    background-color: rgb(131, 156, 220);
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-size: 18px;
}

.btn button:hover {
    background-color: rgb(160, 177, 220);
}