.label {
    display: flex;
    width: 90%;
    margin: 0 5% 10px;
    gap: 10px;
    align-items: center;
    justify-content: space-between
}

.label input {
    padding: 8px;
    text-align: right;
    width: 220px;
    border-radius: 5px;
    color: #171717;
}

.label input:disabled {
    color: gray;
}

.error {
    color: red;
    width: 90%;
    margin: 10px;
    text-align: center;
    height: 30px;
    font-size: 14px;
}

.btn {
    margin-top: 20px;
    text-align: center;
}

.btn button {
    width: 90%;
    border-radius: 5px;
    background-color: rgb(131, 156, 220);
    padding: 10px 30px 10px 30px;
    color: #fff;
    font-size: 18px;
}


.btn button:hover {
    background-color: rgb(160, 177, 220);
}

.btn button:disabled {
    background-color: rgb(177, 179, 185);
}

.successMessage {
    width: 90%;
    margin: 0 5%;
}